<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    {{>formregistration}}
    <div>
        <h3>Register</h3>
        <form action="/register" method="POST">
            <div>
                <div>
                    <input type="text" name="name" id="firstname" placeholder="Firstname">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Email">
                </div>
                <div>
                    <input type="text" name="number" id="number" placeholder="Number">
                </div>
                <div>
                    <input type="text" name="password" id="password" placeholder="Password">
                </div>
                <div>
                    <input type="submit" value="Register">
                </div>
            </div>
        </form>


        <form action="/login" method="POST">
            <h3>Login</h3>
            <div>
                <input type="text" name="email" id="email" placeholder="Email">
            </div>
            <div>
                <input type="text" name="password" id="password" placeholder="Password">
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</body>

</html>